@font-face {
  font-family: "Love";
  src: url("../assets/fonts/Love.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* You can add additional local font-face declarations here, or import from Google if desired */
